<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/default"
>
<head>
<meta charset="UTF-8">
<title>스톡</title>
<style>
  .caption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .caption input[type=button] {
    padding: 0 10px;
    width: auto;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background: #222;
    border: 1px solid #222;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    box-shadow: 0 0 3px #999;
    cursor: pointer;
  }
  .caption #daeclass {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    /* background: #f1f1f1;
    border: 1px solid #999; */
    font-size: 14px;
  }
  .caption #daeclass select {
    padding: 0 5px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #222;
    background: #fff;
    box-sizing: border-box;
    cursor: pointer;
  }
</style>
<script>
  function jumun(pcode,n)
  {
     var su=document.getElementsByClassName("su")[n].value;
     location="jumunOk?pcode="+pcode+"&su="+su+"&dae="+"[[${dae}]]"+"&page="+"[[${page}]]"+"&rec="+"[[${rec}]]";
  }

  window.onload=function()
  {
    document.getElementById("cla").value='[[${dae}]]';
    document.getElementById("pageSel").value='[[${page}]]';
    document.getElementById("pageRec").value='[[${rec}]]';
  }

  function pageMove()
  {
    location="stockView?page="+page+"&dae="+"[[${dae}]]"+"&rec="+"[[${rec}]]";
  }

  function recChange(rec)
  {
    location="stockView?rec="+rec+"&dae="+'[[${dae}]]';
  }

  function viewJumun()
  {
    document.getElementById("jumunLayer").style.visibility="visible";

    var chk=new XMLHttpRequest
    chk.onload=function()
    {
    var jumuns=JSON.parse(chk.responseText);

    var str="<table width='600' align='center' style='font-size:13px'>";
        str=str+" <tr align='center'> ";
		str=str+"  <td> 상품명 </td> ";
		str=str+"  <td> 주문수량 </td> ";
		str=str+"  <td> 주문상태 </td> ";
		str=str+"  <td> 주문일자 </td> ";
		str=str+"  <td> 주문자 </td> ";
		str=str+" </tr> ";

        for(jumun of jumuns)
        {
            if(jumun.state==0)
              var state="주문중";
            else
              var state="주문완료"

            str=str+" <tr align='center'> ";
			str=str+"  <td align='left'> "+jumun.title+" </td> ";
			str=str+"  <td> "+jumun.su+" </td> ";
			str=str+"  <td> "+state+" </td> ";
			str=str+"  <td> "+jumun.writeday+" </td> ";
			str=str+"  <td> "+jumun.jumunMan+" </td> ";
			str=str+" </tr>";
        }

        str=str+" <tr> ";
		str=str+"  <td colspan='5' align='center'> ";
		str=str+"    <input type='button' value='닫기' onclick='hideLayer()'> ";
		str=str+"  </td> ";
		str=str+" </tr> ";
		   
		str=str+"</table>";

        document.getElementById("jumunLayer").innerHTML=str;
    }
    chk.open("get","jumunList?dae="+'[[${dae}]]');
    chk.send();
  }
  
  function hideLayer()
  {
    document.getElementById("jumunLayer").style.visibility="hidden";
  }
</script>
</head>
<body>
  <th:block layout:fragment="content">
    <div id="jumunLayer"></div>
    <h3> 상품현황 </h3>
    
    <div class="caption">
      <div id="daeclass">
        카테고리
        <select id="cla" onchange="location='stockView?dae='+this.value">
          <option value="A1">소설/문학</option>
          <option value="B1">비소설/교양</option>
          <option value="C1">경제/경영</option>
          <option value="D1">과학/기술</option>
        </select>
        <input type="button" value="주문내역" onclick="viewJumun()">
      </div>
      <div class="sorting">
        목록 수
        <select name="pageRec" id="pageRec" onchange="recChange(this.value)">
          <option value="10">10권</option>
          <option value="20">20권</option>
          <option value="30">30권</option>
          <option value="50">50권</option>
        </select>

        페이지 수
        <select id="pageSel" onchange="pageMove(this.value)">
          <th:block th:each="i : ${#numbers.sequence(1,chong)}">
            <option th:value="${i}" th:text="${i + ' page'}"></option>
          </th:block>
        </select>
      </div>
    </div>
    <table>
      <colgroup>
        <col width="150px">
        <col width="*">
        <col width="150px">
        <col width="150px">
        <col width="150px">
        <col width="150px">
      </colgroup>
      <thead>
        <tr>
          <th>이미지</th>
          <th>상품명</th>
          <th>재고</th>
          <th>판매수량</th>
          <th>주문하기</th>
          <th>주문현황</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="pdto, sts : ${plist}">
          <td><img th:src="${'/static/temp/product/'+pdto.pimg}" width="40" height="40"></td>
          <td th:text="${pdto.title}"></td>
          <td th:text="${pdto.su}"></td>
          <td th:text="${pdto.pansu}"></td>
          <td>
            <select class="su">
              <th:block th:each="i:${#numbers.sequence(100,1,-1)}">
                <option th:value="${i}" th:text="${i}"></option>
              </th:block>
            </select>
            <input type="button" value="주문" th:attr="|jumun('${pdto.pcode}', ${sts.index})|">
          </td>
          <td>
            <th:block th:if="${pdto.writeday!=null}">
              <span th:text="${pdto.jsu+'권'}"></span>
              |
              <span th:if="${pdto.state==0}" th:text="주문중"></span>
              <span th:if="${pdto.state==1}" th:text="주문완료"></span>
            </th:block>

            <th:block th:if="${pdto.writeday==null}">
              주문내역없음
            </th:block>
          </td>
        </tr>
      </tbody>
    </table>
  </th:block>
</body>
</html>